<launch>

	<!-- Load recognition node -->

	<arg name="yamlFile" default="$(find mark_follower_embedded)/conf/config_first_challenge.yaml"/>

    	<rosparam command="load" file="$(arg yamlFile)"/>

	<node name="mark_follower_embedded_node" pkg="mark_follower_embedded" type="mark_follower_embedded_node" respawn="true" output="screen" />
    
</launch>
